[Unit]
Description=Dropbear SSH server
After=network.target

[Service]
ExecStart=/usr/sbin/dropbear -F -E -R
Restart=on-failure

[Install]
WantedBy=multi-user.target
